## config files
/application/config/config.php
/application/config/database.php

##useless files
/application/cache
/application/logs
/error_log

#download files
/downloads/*
!/downloads/download.php

##IDE files
/.idea
/randosm.iml


